# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
esp32-bluetooth-rc-car/lib/README
esp32-bluetooth-rc-car/test/README
esp32-bluetooth-rc-car/include/README
esp32-bluetooth-rc-car/.vscode/extensions.json
RC
